/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    min-width: 70vw;
    margin: 0 15vw;
  }
  .textContainer {
    width: 445px;
    justify-self: end;
  }
  
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    overflow: visible;
  }
  .container {
    height: 100%;
    min-width: 70vw;
    margin: 0 15vw;
  }
  .textContainer {
    margin-top: 200px;
    width: 445px;
    justify-self: center;
  }

  .contentContainer {
    grid-auto-rows: 2fr; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow: visible;
  }
  .container {
    height: 100%;
    min-width: 80vw;
    margin: 0 10vw;
  }
  .textContainer {
    margin-top: 200px;
    width: 445px;
    justify-self: center;
  }

  .contentContainer {
    grid-auto-rows: 2fr; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  body {
    overflow: visible;
  }
  .container {
    height: 100%;
    min-width: 80vw;
    margin: 0 10vw;
  }
  .textContainer {
    margin-top: 200px;
    width: 445px;
    justify-self: center;
  }

  .contentContainer {
    grid-auto-rows: 2fr; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  body {
    overflow: visible;
  }
  .container {
    height: 100%;
    min-width: 90vw;
    margin: 0 5vw;
  }
  .textContainer {
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    justify-self: center;
  }

  .title {
    font-size: 7em;
  }

  .contentContainer {
    grid-auto-rows: 2fr; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  body {
    overflow: visible;
  }
  .container {
    height: 100%;
    min-width: 90vw;
    margin: 0 5vw;
  }
  .textContainer {
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    justify-self: center;
  }

  .title {
    font-size: 7em;
  }
  .contentContainer {
    grid-auto-rows: 2fr; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  }
}
